html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  color: rgb(11, 82, 148);
  border: 1px solid gray;
  font-family: 'Itim', cursive;
}

.o:after {
  content: "O";
  font-size: 50px;
  line-height: 100px;
}

.x:after {
  content: "X";
  font-size: 50px;
  line-height: 100px;
}